/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

/* ULTILTY CLASS */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Hiệu ứng Nut Button cho toàn bộ web */
.btn {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
}

.btn:hover {
    background-position: right center;
}


.sub_title {
    font-size: 22px;
    color: #f55f8d;
    margin-bottom: 20px;
    font-weight: 600;
}

.main_title {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

/* HEADER */
header {
    position: absolute;
    right: 0;
    left: 0;
}

header .header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

header .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_nav ul {
    list-style: none;
    margin-right: 30px;
}

header .header_nav ul li {
    display: inline;
    padding: 0 10px;
}

header .header_nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

/* Hiệu ứng Navbar */
.text__content {
    width: 50%;
    margin: auto;
    padding: 50px;
}

.header_nav a span {
    display: inline-block;
    transition: all 1s;
}

.header_nav a:hover {
    color: #f55f8d;
}

.header_nav a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

.header_menu .bth button:hover {
    background-position: right center;
}

/* INTRO */
.intro {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.intro .intro_both {
    display: flex;
    justify-content: space-between;
}

.intro .intro_both .intro_content {
    padding-top: 50px;
}

.intro .intro_content {
    width: 60%;
}

.intro_content .main_title {
    font-weight: 600;
}


.intro .intro_content span {
    vertical-align: center;
}

.intro .intro_img {
    width: 40%;
}

.intro .content_title p {
    color: #636363;
    font-size: 18px;
    margin-bottom: 15px;
}

.intro .intro_content ul {
    list-style: none;
}

.intro .intro_content ul li {
    padding: 10px 0;
    font-size: 20px;
    color: #636363;
}

.intro .content_title i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.intro .content_title i:before {
    content: '\f00c';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


.intro .intro_content .btn {
    margin: 20px 0;
}

.intro .intro_content .fa-check {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    font-size: 30px;
    border-radius: 50px;
    color: white;
    padding: 5px;
    margin-right: 20px;
    background-size: 200%;
}


/* SERVICE */
.service {
    padding: 100px;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.service .service_title {
    text-align: center;
}

.service .service_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service .service_item {
    text-align: center;
    line-height: 1.5;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;
    border-image: 100 round;
    border: 3px solid transparent;
}

.service .service_item:hover {
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}

.service .service_item img {
    width: 215px;
}

.service .service_item h3 {
    margin: 15px 0;
    font-weight: 700;
    font-size: 24px;
}

.service .service_item p {
    font-size: 16px;
    color: #636363;
}

/* ABOUT */
.about {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.about .about_both {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.about .about_img {
    width: 60%;
    position: absolute;
    left: -17%;
}

.about .about_img img {
    width: 100%;
    margin-top: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.about .about_content {
    width: 50%;
}

.about .sub_content p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #636363;
    line-height: 1.5;
}

.about .sub_content ul {
    list-style: none;
    margin-bottom: 25px;
}

.about .sub_content li {
    padding: 10px 0;
    color: #636363;
}

.about .sub_content i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/* NUMBER */
.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number .number_content {
    display: flex;
    justify-content: space-around;
}

.number .number_item {
    width: 25%;
}

.number .number_item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number .number_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number .number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

/* FEATURES */
.features {
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
    padding-top: 115px;
}

.features .features_all {
    display: flex;
}

.features .features_both {
    width: 50%;
}

.features .features_img {
    width: 50%;
}

.features .features_content {
    width: 100%;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft;
}

.features .features_img img {
    max-width: 100%;
}

.features .features_item {
    display: flex;
    padding: 30px 20px 30px 25px;
}

.features .features_item .item_content {
    padding-left: 25px;
}

.features .features_item i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features .features_item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

.features .features_item p {
    color: #636363;
    font-weight: 400;
    line-height: 1.8;
}

.features .features_sub {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features .features_sub:first-of-type {
    margin: 0 50px 30px 0;
}

.features .features_sub:nth-child(2) {
    margin: 0 0 30px 50px;
}

.features .features_sub:last-of-type {
    margin: 0 50px 30px 0;
}

/* Xử lí hover */
.features_sub {
    position: relative;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
}

.features_item {
    position: relative;
    z-index: 1;
    color: white;
}

.features_sub::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.features_sub:hover::after {
    opacity: 1;
}

.features_sub:hover h3,
.features_sub:hover p,
.features_sub:hover i {
    color: white;
}

/* hiệu ứng img */

.features_img img {
    max-width: 100%;
    animation: move2 5s infinite;
}

.features_banner {
    margin-right: -80px;
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

/* PORTFOLIO */
.portfolio {
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
    padding-top: 115px;
}

.portfolio .portfolio_title p,
.portfolio .portfolio_title h2 {
    text-align: center;
}

.portfolio .portfolio_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio .portfolio_item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.portfolio .portfolio_item1 {
    grid-column: 1 / span 2;
    height: auto
}

.portfolio .portfolio_item5 {
    grid-column: 1 / span 2;
}

.portfolio .portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio .portfolio_item {
    position: relative;
}

/* lớp phủ, icon và text */
.portfolio .portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
    border-radius: 10px;
}

.portfolio .portfolio_icon {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.portfolio .portfolio_icon i {
    color: white;
}

.portfolio .portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transition: all 0.75s;
}

.portfolio .portfolio_text h3 {
    text-align: left;
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

.portfolio .portfolio_text p {
    text-align: left;
    color: white;
    font-size: 16px;
}

.portfolio .portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}

/* hiệu ứng vệt sáng */
.portfolio_item {
    position: relative;
    overflow: hidden;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio_item:hover::before {
    left: 125%;
}

/* hiệu ứng wow */
.portfolio_item {
    position: relative;
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
}


/* BLOG */
.blog {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 115px;
}

.blog .blog_item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
    margin: 0 10px;
}

.blog .blog_header {
    position: relative;
}

.blog .blog_header img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.blog .blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog .blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog .blog_body h3 {
    font-size: 24px;
    font-weight: 700;
    color: #262626;
    line-height: 1.4;
}

.blog .blog_body p {
    color: #636363;
    line-height: 1.4;
}

.blog .blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog .blog_footer p:first-of-type {
    margin-right: 20px;
}

.blog .blog_footer i {
    font-size: 20px;
    color: #f55f8d;
    vertical-align: sub;
    margin-right: 10px;
    font-weight: 900;
}

.blog .blog_footer p:first-of-type span {
    color: #f55f8d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

/* FOOTER */
footer {
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer trên */
footer .footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;

    /* Hiệu ứng  */
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeIn;
}

footer .footer_text {
    width: 50%;
}

footer .footer_text h2 {
    font-size: 28px;
    color: #262626;
}

footer .footer_form {
    width: 50%;
}

footer .footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

footer .footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

footer .footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

/* Fotter dưới */
footer .footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

footer .footer_bottom .footer_item {
    width: 25%;

    /* Hiệu ứng  */
    visibility: visible;
    animation-duration: 3s;
    animation-delay: 0.8s;
    animation-name: fadeIn;
}

footer .footer_bottom .footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

footer .footer_bottom .footer_contact ul {
    display: flex;
    align-items: center;
}

footer .footer_bottom .footer_item ul li {
    padding: 8px 0;
    list-style: none;
    display: flex;
    align-items: center;
}

footer .footer_bottom .footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}

footer .footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

footer .footer_item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 15px;
}

footer .footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 45px;
    left: 20px;
}

footer .footer_bottom .footer_item ul li {
    padding: 10px 0;
    list-style: none;
    display: flex;
    align-items: center;
}

footer .footer_bottom .footer_item ul li a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    text-decoration: none;
}

footer .footer_bottom .footer_item ul li i {
    margin-right: 10px;
}

footer .footer_bottom .footer_item ul li:hover a {
    color: white;
    transition: all 0.5s;
}

/* Footer Copyright */
footer .copy {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

footer .footer_both {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_left {
    color: #fff;
    font-size: 15px;
}

footer .footer_left span {
    color: #f55f8d;
    text-decoration: none !important;
}

footer .footer_right a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

footer .footer_right a:hover {
    background-color: #f55f8d;
}

/* BACK TO TOP */
.back_to_top {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
}

body .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}